@charset "UTF-8";
/* 变量 */
/* 头部 */
/* END 头部 */
/* 内容 */
/* END 内容 */
/* END 变量 */
.clearFix {
  zoom: 1; }
  .clearFix:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden; }

.x_calendar_wrap * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.x_calendar_wrap {
  font-family: "Microsoft Yahei";
  width: 500px;
  height: 500px;
  background: #fff; }
  .x_calendar_wrap .xc_header {
    height: 38px;
    width: 500px;
    background-color: #ec7b2e;
    color: #fff;
    line-height: 38px;
    text-align: center; }
  .x_calendar_wrap .xc_content {
    width: 500px; }
    .x_calendar_wrap .xc_content .xc_week_sec {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      border-left: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3; }
      .x_calendar_wrap .xc_content .xc_week_sec .xc_week_day {
        -webkit-box-flex: 1;
        /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;
        /* OLD - Firefox 19- */
        -webkit-flex: 1;
        /* Chrome */
        -ms-flex: 1;
        /* IE 10 */
        flex: 1;
        height: 26px;
        background-color: #f5f5f5;
        line-height: 26px;
        text-align: center;
        color: #7c7c7c; }
    .x_calendar_wrap .xc_content .xc_days {
      border-bottom: 1px solid #e3e3e3;
      border-left: 1px solid #e3e3e3;
      width: 500px;
      zoom: 1; }
      .x_calendar_wrap .xc_content .xc_days:after {
        content: '';
        display: block;
        clear: both;
        visibility: hidden; }
      .x_calendar_wrap .xc_content .xc_days .xc_day_single {
        width: 71.28571px;
        height: 50px;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        float: left;
        border-top: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: 3px 4px 4px 4px; }
        .x_calendar_wrap .xc_content .xc_days .xc_day_single .xc_day_single_child {
          font-size: 12px;
          height: 14px; }
        .x_calendar_wrap .xc_content .xc_days .xc_day_single .xc_day_date_num {
          text-align: left;
          color: #c7c8c8; }
        .x_calendar_wrap .xc_content .xc_days .xc_day_single .xc_day_price {
          text-align: right;
          color: #ec7b2e; }
        .x_calendar_wrap .xc_content .xc_days .xc_day_single .xc_day_balance {
          text-align: right;
          color: #ec7b2e; }
